<% include partials/header %>

<div class="ui main text container segment">
        <div class="ui huge header">Edit <strong><%= blog.title %></strong></div>
        <form class="ui form" action="/blogs/<%= blog._id%>?_method=PUT" method="POST">
            <div class="fields">
                <label for="">Title
                    <input type="text" name="blog[title]" placeholder="title" value="<%= blog.title %>">
                </label>
            </div>
            <div class="fields">
                <label for="">Image
                    <input type="text" name="blog[image]" placeholder="image" value="<%= blog.image %>">
                </label>
            </div>
            <div class="fields">
                <label for="">Blog post
                    <textarea name="blog[body]" placeholder="blog post goes here" ><%= blog.body%></textarea>
                </label>
            </div>
            <button class="ui blue basic button">Submit</button>
        </form>
    </div>
<% include partials/footer %>

